# игнорирует все файлы .exe
*.exe

# игнорирует все файлы .md
*.md

# не игнорирует файл README.md
!README.md 

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# файлы для архивации
7z_date.bat
7za.exe 

# переменные окружения
.env